<div class="container">
  
<table class="table table-striped">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Networks</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
      <td>
        <% if contact.photo_link.present? %>
        <%= image_tag contact.photo_link %>
        <% end %>
      </td>
      <td><%= contact.name %></td>
      <td>
        <% if contact.facebook_name.present? %>
        <span class="label label-primary">Facebook</span>
        <% end %>
        <% if contact.google_name.present? %>
        <span class="label label-danger">GMail</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>