.features .glyphicon {
  font-size: 32px;
}

.row {
  margin-bottom: 20px;
}
.footer {
  padding: 20px 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
  padding-top: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}
.footer {
  color: #efefef;
  background-color: #333;
}
.footer a {
  color: #9af7fe;
}
@media only screen and (max-width: 768px) {
  body { margin-bottom: 400px; }
  .footer { height: 400px; }
}

.text-white {
  color: white !important;
}