  <div class="row well well-lg">
    <div class="col-xs-12">
      <h2>The Best Social Network</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur, molestias, quidem nulla labore placeat, dolorum rerum veniam quo quia illum amet, officia voluptates necessitatibus possimus minus deleniti illo! Illum?!</p>
      <!-- <button type="button" class="btn btn-lg btn-default">Sign In</button> -->
      <a type="button" class="btn btn-lg btn-primary text-white" href="<%= user_omniauth_authorize_path(:facebook) %>">Sign with your Facebook account!</a>
    </div>

    <!-- <div class="col-md-6 hidden-sm hidden-xs">
      <%# image_tag "img-header.jpg" %>
    </div> -->
  </div>

  <div class="row text-center features">
    <div class="col-md-4 col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0">
      <i class="glyphicon glyphicon-briefcase"></i>
      <h3>Sign up Today!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6">
      <i class="glyphicon glyphicon-random"></i>
      <h3>Some text!</h3>
      <p> Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6">
      <i class="glyphicon glyphicon-send"></i>
      <h3>Another text</h3>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
